extends layout

block content
    div(ng-controller="TestCtrl as tc")

        body

            .container(layout="row")
                article.box1(flex)
                    | <img src="images/stretchkids-logo.jpg" alt="logo" height="46" width="200">
                    br
                    |md-button.md-raised Sign In
                    md-button.md-raised Register
                    //| ( Box 1 )
                nav.box2(flex)
                    | dropdown
                    br
                    | ( Box 2 )
                aside.box3(flex)
                        md-input-container.md-icon-float.md-block.padding
                            label Bridgewater, NJ
                            md-icon location
                            input(ng-model='user.city', type='text')
                        md-input-container.md-icon-float.md-block
                                label Enter search keyword
                                md-icon search
                                input(ng-model='user.search', type='text')



            #content(layout="row" layout-align="space-between center"

            )
                #sidebar(flex="30")
                    p Filter
                    md-divider
                    p List
                    md-divider
                    p Map
                    md-divider
                    p Detail
                    md-divider
                    p Favorites
                    md-divider
                    p Tell Us About a New Activity
                    md-divider
                    p Edit your Profile
                include list
            //footer Footer
        //
        //h1 {{tc.title}}
        //p Welcome to {{tc.subtitle}}
        //h2 {{tc.text.title}}
        //p {{tc.text.address}}
        //p
        //  strong
        //    em {{tc.text.state}}
        //#container(layout="row")
        //    #box1(layout="column")
        //       #box2(layout="column")
        //           #box3(layout="column")
            //#container.logo
            //#container.drop-down
            //#top-nav(flex)
            //#content(layout="row" flex)
            //    #left-side-bar(flex)
            //    #list(layout="column" flex)



