extends layout

block content
    div(ng-controller="TestCtrl as tc")

        body

            .container(layout="row")
                article.box1(flex)
                    | Article contents
                    br
                    | ( Box 1 )
                nav.box2(flex)
                    | Navbar contents
                    br
                    | ( Box 2 )
                aside.box3(flex)
                    | Sidebar contents
                    br
                    | ( Box 3 )
            #content(layout="row" layout-align="space-between center"

            )
                #sidebar(flex="30")
                    p fred
                    md-divider
                    p ethel
                    md-divider
                    p lucy
                    md-divider
                    p ricky
                include list
            footer Footer
        //
        //h1 {{tc.title}}
        //p Welcome to {{tc.subtitle}}
        //h2 {{tc.text.title}}
        //p {{tc.text.address}}
        //p
        //  strong
        //    em {{tc.text.state}}
        //#container(layout="row")
        //    #box1(layout="column")
        //       #box2(layout="column")
        //           #box3(layout="column")
            //#container.logo
            //#container.drop-down
            //#top-nav(flex)
            //#content(layout="row" flex)
            //    #left-side-bar(flex)
            //    #list(layout="column" flex)



