doctype html
html
    head
        title= "Test"
        link(href='https://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
        // bower:css
        link(rel='stylesheet', href='lib/angular-material/angular-material.css')

        // endbower

        link(rel='stylesheet', href='/css/main.css')

    body(ng-app="MyApp" ng-cloak )
        .padding
        .mainview(ng-controller="TestCtrl as tc")
            .top(ui-view="topnav")
                h1 Loading...
                md-progress-circular(md-mode="indeterminate")

            .bottom
                md-sidenav.md-sidenav-left.md-whiteframe-17dp.sidenavparent(md-component-id='left',
                md-is-locked-open="$mdMedia('gt-sm')")
                    #leftouter(ui-view="sidenav")
                #rightouter(ui-view="list")
        .padding
        // bower:js
        script(src='lib/angular/angular.js')
        script(src='lib/angular-ui-router/release/angular-ui-router.js')
        script(src='lib/angular-animate/angular-animate.js')
        script(src='lib/angular-aria/angular-aria.js')
        script(src='lib/angular-messages/angular-messages.js')
        script(src='lib/angular-material/angular-material.js')

        // endbower
        script(src="/js/main.js")
        script(src="/js/controllers/TestCtrl.js")
        script(src="/js/controllers/topNavCtrl.js")
        script(src="/js/controllers/ListCtrl.js")





//body(ng-app="MyApp" ng-cloak layout="column")
//    div(ng-controller="TestCtrl as tc" layout="column"  flex)
//        div(ui-view="topnav")
//            h1 Loading...
//            md-progress-circular(md-mode="indeterminate")
//
//        md-content#content(flex layout="row" layout-align="")
//            div(ui-view="sidenav" flex layout="column")
//            div(ui-view="list" flex layout="column" )