doctype html
html
  head
    title= title
    link(href="/lib/angular-material/angular-material.css",rel='stylesheet')
    link(href='https://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')

    link(rel='stylesheet', href='/css/style.css')
    script(src="/lib/angular/angular.js")
    script(src="/lib/angular-animate/angular-animate.js")
    script(src="/lib/angular-aria/angular-aria.js")
    script(src="/lib/angular-material/angular-material.js")
    script(src="/lib/angular-messages/angular-messages.js")
    script(src="/lib/angular-ui-router/release/angular-ui-router.js")
    script(src="/js/main.js")
    script(src="/js/controllers/TestCtrl.js")
  body(ng-app="MyApp")
    block content


