doctype html
html
  head
    title= title
    link(href='https://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
    // bower:css
    link(rel='stylesheet', href='lib/angular-material/angular-material.css')
    link(rel='stylesheet', href='lib/material-design-lite/material.min.css')
    link(rel='icon', href='favicon.ico')
    meta(name='viewport', content='initial-scale=1')
    // endbower

    link(rel='stylesheet', href='/css/style.css')

  body(ng-app="MyApp" ng-cloak)
    block content
    // bower:js
    script(src='lib/angular/angular.js')
    script(src='lib/angular-ui-router/release/angular-ui-router.js')
    script(src='lib/angular-animate/angular-animate.js')
    script(src='lib/angular-aria/angular-aria.js')
    script(src='lib/angular-messages/angular-messages.js')
    script(src='lib/angular-material/angul0ar-material.js')
    script(src='lib/material-design-lite/material.min.js')
    // endbower
    script(src="/js/main.js")
    script(src="/js/controllers/TestCtrl.js")


