//   Created by froth on 3/6/2016.
#list(flex)
    div(ng-repeat="it in tc.text")
        .listitem(layout="row", layout-align="space-between center", flex,)
            .lvl1
            md-icon perm_identity
            .title(flex="30") {{it.title}}
            .address(flex="30") {{it.address}}
            .state(flex="15") {{it.state}}
        md-divider
    p.md-body-1
        | When in the
        | course of human
        | events it becomes0
