@import (less) "mixins.less";
@import (less) "variables.less";


#listdesktop {
  .flex-parent-column();
  .flex-child-row();


  .listcontainer{
    .flex-parent-column(@items:stretch);
    overflow-y:auto;
  }

  .row-wrapper {
    margin-bottom: 2px;
    margin-top: 2px;
    //.flex-parent-row(@height:72px);
    .flex-child-column(72px,72px,0,0,72px);
    .flex-parent-row(@items:stretch, @height:72pxR);


    .icon {
      .flex-child-row(25px, 25px, 0,0,25px);
      height:calc(100% - 6px);
      background-color: #2a74be;
      //margin: 0 3px ;

    }
  ;
    .right-inner {
      //width:calc(100%-12px);
      width: calc(80% - 3px);
      overflow-y: auto;
    }
    ;
    .cat {
      .flex-child-row();
      min-width: 120px;
      max-width: 140px;
      margin-left: 5px;
    }
    .right-inner {
      //width:calc(100%-12px);
      width: calc(100% - 3px);
      overflow-y: auto;
    }
  ;
    .name {
      .flex-child-row(@basis:100%;);
      min-width: 160px;
      max-width: 400px;
    }
  ;
    .town {
      .flex-child-row();
      min-width: 75px;
      max-width: 200px;
    }
  ;

    .miles {
      .flex-child-row();
      min-width: 75px;
      max-width: 200px;
    }
  ;

    .home {
      .flex-child-row();
      min-width: 36px;
      max-width: 36px;
    }
  ;
    .bold {
      .font-for-list(@weight:700);
    }
  ;

    .reg {
      .font-for-list();
    }
  ;

    .small {
      .font-for-list(@size:12px;);
    }
  ;

    .small-med {
      .font-for-list();
    }
  ;
  }
  // Icons

  md-icon.white-icon {
    color: white;
  }

  md-icon.color-icon {
    color: #2a74be;
  }
}