@import (less) "mixins.less";
@import (less) "variables.less";

#listtablet {

  //div{border:green solid 1px}
  .wrapper {
    .flex-parent-row(@height:112px, @justify:stretch, @items:stretch);
    //> div {
    //  border: 2px solid #ccc;
    //}
    //> * > div {
    //  border: 1px solid #ccc;
    //}
    .one {
      .flex-parent-column(@justify:center,@items:center);
      .flex-child-row(30px, 30px, 0, 0, 30px);
      background: #2a74be;
      color: white;
      margin: 4px 0;
      padding:30px 0 60px 0;

    }
    .two {
      .flex-parent-column(@justify:stretch,@items:stretch);
      .flex-child-row(75px, 150px, 1, 1, 125px);
      .a1 {
        .flex-child-column(0%, 50%, 1, 1, 50%);
        .flex-parent-row(@justify:center, @items:center);
        img{
          height:80px;
        }


      }
      .a2 {
        .flex-child-column(0%, 100%, 1, 1, 50%);
        .flex-parent-row(@justify:center, @items:center);
        md-body-2{ text-align: center}

      }

    }
    .wrappersub1 {
      .flex-parent-column(@justify:stretch,@items:stretch);
      .flex-child-row(150px, 325px, 1, 1, 250px);

      .three {
        .flex-child-column(0%, 100%, 1, 1, 50%);
        .flex-parent-row(@justify:center, @items:flex-end);
        // .flexChild(75px, 100%, 100px, 1,1);
        text-align: center;
        padding:0 0 3px 0;

      }

      .four {
        .flex-child-column(0%, 100%, 1, 1, 50%);
        .flex-parent-row(@justify:center, @items:flex-start);
        // .flexChild(75px, 200px, 100px, 1,1);
        padding: 3px 0 0 0;

      }
    }
    .wrappersub3 {
      .flex-parent-column(@justify:stretch,@items:stretch);
      .flex-child-row(150px, 325px, 1, 1, 250px);

      .five {
        .flex-child-column(0%, 100%, 1, 1, 50%);
        .flex-parent-row(@justify:center, @items:flex-end);
        // .flexChild(75px, 100%, 100px, 1,1);

      }

      .six {
        .flex-child-column(0%, 100%, 1, 1, 50%);
        .flex-parent-row(@justify:center, @items:flex-start);
        // .flexChild(75px, 200px, 100px, 1,1);

      }
    }

  }

}

