.flex-parent-row(@height:inherit;@content: center;@justify: center; @items: stretch;@wrap:nowrap) {
  display: flex;
  flex-flow: row @wrap;
  align-items: @items;
  align-content: @content;
  justify-content: @justify;
  height: @height;
}

.flex-parent-column(@width:inherit;@content: center;@justify: flex-start; @items: stretch;@wrap:nowrap) {
  display: flex;
  flex-flow: column @wrap;
  align-items: @items;
  align-content: @content;
  justify-content: @justify;
  width: @width;
}

.flex-child-row(@min:0%; @max:100%;@grow:1; @shrink:1;@basis:50%;@align:auto) {
  display: flex;
  flex: @grow @shrink @basis;
  align-self: @align;
  min-width: @min;
  max-width: @max;
}

.flex-child-column(@min:0%; @max:100%;@grow:1; @shrink:1;@basis:50%;@align:auto) {
  display: flex;
  flex: @grow @shrink @basis;
  align-self: @align;
  min-height: @min;
  max-height: @max;
}

.font-for-list(@size:14px; @weight:400; @height:1.5em) {
  font-weight: @weight;
  line-height: @height;
  font-size: @size;
}

