//*{
//  margin: 0;
//  padding: 0;
//}
@import url(https://fonts.googleapis.com/css?family=Roboto:400,900italic,900,700italic,700,100,100italic,300,300italic,400italic,500,500italic);

body {
  padding: 2em;
  font-family: 'Roboto', sans serif;
}

header, footer {
  background-color: #FFFFFF;
  padding: 1em;
}

.container {
  width: 100%;
}

.fb-layout(@padding:0, @margin:0, @width:100%) {
  padding: @padding;
  margin: @margin;
  width: @width;
}

#content {
  background: lightgrey;

  //#sidebar {
  //  background: lightgreen;
  //  .fb-layout(10px, 10px, 300px);
  //}


  /*List Right*/
  #list {
    background: lightblue;
    width: 800px;
    .listitem {
      height: 110px;
    }

    .category {
      flex-shrink: 1;
      flex-grow: 1;
      flex-basis: 60px;
    }
    .title {
      flex-shrink: 1;
      flex-grow: 1;
      flex-basis: 1;
      font-weight: bold;
      flex-basis: 200px;
    }

    .address {
      flex-shrink: 1;
      flex-grow: 2;
      flex-basis: 60px;
    }
    .miles {
      flex-shrink: 1;
      flex-grow: 2;
      flex-basis: 40px;
      font-weight: bold;
    }

    .listitem {
      .lvl1 {
        height: 24px;
      }
      md-icon.color1 {
        height: 24px;
        flex-shrink: 1;
        flex-grow: 2;
        flex-basis: 40px;
      }

    }
  }
}
/*top label*/
label.town {
color: #000;
}
aside.box3{
  flex-shrink: 1;
  flex-grow: 1;
  flex-basis: 60px;
  margin-right: 40px;
}

//md-input-container.md-icon-float.md-block.padding{
//
//}
.box2 {
  background-color: white;
  margin-top: 40px;
  font-weight: 900;
}

.box3 {
  flex: 1;
  background-color: white;
}

.box1, .box2, .box3 {
  padding: 1em;
}

/* mobile layout */
@media (max-width: 480px) {
  .container {
    width: 100%;

  }
}

#container {
  height: 180px;
}

.md-input-container {
  margin: 0 !important;
}

#content #list .listitem {
  background: white
}

#content #sidebar {
  background: white;
}

#content {
  background: white;
}

#content #list {
  background: white;
}

p {
  color: Black;
}

p.md-title {
  font-size: 12px;
}

.md-button.md-raised.left {
  padding: 0 5px 0 5px;
  margin: 0px 0px 0px 24px;
  border-radius: 125px;
  font-size: 13px;
  width: 140px;
  height: 60px;
  margin-top: 40px;
  font-weight: 600;
  border: 1px solid #2a74be;
  color: #2a74be;
}

.md-button.md-raised.mid {
  margin: 6px 20px 6px 6px;
  border-radius: 0px;
  font-size: 12px;
  font-weight: 900;
  align-self: center;
  //width: 80px;
}

/*Sidebar*/

md-sidenav.md-sidenav-left {
  font-size: 14px;
  margin-right: 20px;
  height: 470px;
  margin-top: 26px;
}

.md-list-item {
  font-weight: bold;
}

.md-button {
  font-weight: 700;
}

md-input-container {
  margin: auto 0;
}

.menudemoMenuWidth .md-menu-demo {
  padding: 24px;
}

.menudemoMenuWidth .menu-demo-container {
  min-height: 200px;
}

#content #list .listitem .lvl1 {
  color: #fff;
  background-color: #2a74be;
  text-align: center;
  height: 100px;
  width: 30px;
  padding-top: 40px;
}

/*Category List styles*/

#list {
  margin: auto 0;
}

#content #list .listitem .category {
  font-size: 15px;
  font-weight: 700;
}

#content #list .listitem .title {
  font-size: 18px;
}

#content #list .listitem .address {
  font-size: 18px;
}

#content #list .listitem .miles {
  font-size: 13px;
}

#content #list .listitem .color1 {
  color: #2a74be;
  font-size: 22px;
}