.parent {
  display: flex;
}

//TOP NAV
.row {
  margin-left: 16px;
  img {
    width: 80%;
    height: 80%;
    max-width: 320px;
  }
}

.row2 {
  margin-top: 20px;
  min-width: 300px;

}

.row3 {
  min-width: 300px;
  margin-right: 40px;
}



.left-content,
.right-content {
  flex: 0 0
}

.left-inner {
  //width:calc(100%-12px);
  width: calc(100% - 3px);
  overflow-y: auto;
}

.left,
.right {
  display: flex;
  flex-direction: column;
}

//list-right
.right {
  overflow-y: auto;
  width: 100%;
  .wrapper {
    display: flex;
    flex-direction: row;
    height: 72px;
    //background-color: green;
    margin: 4px 0;
    > * {
    }


    //CATEGORY
    .one {
      display: flex;
      background-color: #2a74be;
      color: white;
      flex: 0 0 10px;
      align-items: center;
      height: auto;
      margin: 0 2px;
    }
    //ICON-SUBCATEGORY
    .two {
      display: flex;
      flex: 1 1 150px;
      align-items: center;
      min-width: 120px;
      max-width: 300px;
      padding: 0 5px 0 5px;
      img {
        width: 36px;
      }
      .small {
        padding-left: 3px;
      }
    }
    //ADDRESS
    .three {
      display: flex;
      flex: 1 3 350px;
      align-items: center;
      min-width: 100px;
      max-width: 700px;
    }

    //TOWN
    .four {
      display: flex;
      flex: 1 3 150px;
      align-items: center;
      min-width: 75px;
      max-width: 500px;
    }

    //MILES
    .five {
      display: flex;
      flex: 2 1 100px;
      /*border: 2px solid green;*/
      align-items: center;
      min-width: 75px;
      max-width: 200px;

    }
    //hOME ICON
    .six {
      display: flex;
      flex: 0 0 36px;
      min-width: 36px;
      max-width: 36px;
      align-items: center;

    }
  }
}

.left {
  width: calc(100% - 7px);
  height: calc(80% - 21px);
}

.leftouter {
  width: 360px;
  margin-left: 16px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  z-index: 10;
}

.rightouter {
  width: 100%;
  margin-right: 32px;
  display: flex;
  overflow: hidden;
}

.mainview {
  display: flex;
  flex-direction: column;
  height: calc(100%);
  flex: 1;
}

.top {
  display: flex;
  justify-content: space-between;
  height: 170px;
}

.bottom {
  flex: 1;
  height: calc(100%);
  display: flex;
}

body {
  height: calc(100vh);
  margin: 0;
  padding: 0;
}

// Colors

@colorOne: #fff;

.mainview, .top, .bottom, .rightouter, .leftouter, .left, .right, .leftouter, .right, .left-inner, .right-inner, .left-content, .right-content {
  background: @colorOne;
}

//Fonts
.font-for-list(@size:14px; @weight:400; @height:1.5em) {
  font-weight: @weight;
  line-height: @height;
  font-size: @size;
}

.bold {
  .font-for-list(@weight:700);
}

.reg {
  .font-for-list();
}

.small {
  .font-for-list();
}

.small-med {
  .font-for-list();
}

// Scroll bars

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}

::-webkit-scrollbar-thumb {
  background: #ccc;
  //border: 1px outset #282ef2;
  border-radius: 50px;
}

::-webkit-scrollbar-thumb:hover {
  background: #ccc;
}

::-webkit-scrollbar-thumb:active {
  background: #ccc;
}

::-webkit-scrollbar-track {
  background: #fff;
  //border: 0px none #ffffff;
  border-radius: 10px;
}

::-webkit-scrollbar-track:hover {
  background:  #fff;
}

::-webkit-scrollbar-track:active {
  background: #fff;
}

::-webkit-scrollbar-corner {
  background: transparent;
}

// Icons

md-icon.white-icon {
  color: white;
}

md-icon.color-icon {
  color: #2a74be;
}

//Buttons

.md-button {
  background: white !important;
}

.md-button.test {
  background: #f6f6f6 !important;
  flex: 0 0 35%;
}

.md-button.md-raised.mid {
  min-height: 10px !important;
  margin: 3px 4px;
  min-width: 40px;
  padding: 0 3px;
  font-size: 12px;
  line-height: 24px;
}