@import (less) "mixins.less";
@import (less) "variables.less";

.mdl-js{
  background-color:#efefef;
}

.oldcode03 {
  //TOP NAV
  .row {
    margin-left: 16px;
    img {
      width: 80%;
      height: 80%;
      max-width: 320px;
    }
  }

  .row2 {
    margin-top: 20px;
    min-width: 300px;

  }

  .row3 {
    min-width: 300px;
    margin-right: 40px;
  }
}

//
//.left-content,
//.right-content {
//  flex: 0 0
//}
//@media screen and (min-width: 960px) {
//  #leftouter {
//    .flex-child-row(@min:360px, @max:360px,@basis:360px,@grow:0, @shrink:0);
//    .flex-parent-column();
//    //height:inherit;
//    //width: 360px;
//    //display: flex;
//    ////background: green;
//    //flex-direction: column;
//    overflow: hidden;
//  }
//}
//
//@media screen and (max-width: 959px) {
//  #leftouter {
//    width: 0;
//  }
//}
//
//#rightouter {
//  //width: calc(100%);
//  display: flex;
//  //background: green;
//  flex-direction: column;
//  overflow: hidden;
//}

.leftouter-divider {
  //border: 1px solid green;
  width: 360px;
  display: flex;
  height: 100px;
  flex-direction: row;
  overflow: hidden;
}

body {
  .flex-parent-column();

  height: 100vh;
}

@media screen and (max-width: 1499px) {
  body {
    width: 100vw;
  }
}

@media screen and (min-width: 1500px) {
  body {
    width: 1500px;
    margin: 0 auto;
  }
}

.mainview {
  .flex-child-column();
  .flex-parent-column(@justify:flex-start,@items:stretch);

  padding: 0 24px;

}

.top {
  .flex-child-column(@grow:0,@shrink:0);
  .flex-parent-row();
  background: pink;
  //c11 is navbar template
  .c11 {
    height: 170px;
  }
}

.bottom {
  .flex-child-column(@grow:1);
  .flex-parent-row(@justify:flex-start,@items:stretch, @height:inherit);
    //background: rgba(255, 0, 0, 0.1);

  //background: lightblue;
  #leftouter {
    .flex-child-row(0, 0, 320);
    .flex-parent-column()

  }

  #rightouter {
    .flex-child-row();
    //background: lighten(green, 50%);
    .flex-parent-column();
  }
}

.oldcode02 {

  .right {
    display: flex;
    flex-direction: column;
  }
  //.icon {
  //  .flex-child-row;
  //  height: 88px;
  //  background-color: #2a74be;
  //  max-width: 25px;
  //}
  //
  //.cat {
  //  .flex-child-row();
  //  min-width: 120px;
  //  max-width: 200px;
  //}
  //
  //.name {
  //  .flex-child-row(@basis:100%;);
  //  min-width: 200px;
  //  max-width: 500px;
  //}
  //
  //.town {
  //  .flex-child-row();
  //  min-width: 75px;
  //  max-width: 300px;
  //}
  //
  //.miles {
  //  .flex-child-row();
  //  min-width: 75px;
  //  max-width: 200px;
  //}
  //
  //.home {
  //  .flex-child-row();
  //  min-width: 36px;
  //  max-width: 36px;
  //}
}

.oldcode {

  /* list-right
   .right {
     overflow-y: auto;
     width: 100%;
     .wrapper {
       display: flex;
       flex-flow: row nowrap;
       align-items: center;
       align-content: center;
       justify-content: center;
       //height:100px;

       > * {
       }


       //CATEGORY
       .one {
         display: flex;
         background-color: #2a74be;
         color: white;
         flex: 0 0 10px;
         align-items: center;
         height: auto;
         margin: 0 2px;
       }
       //ICON-SUBCATEGORY
       .two {
         display: flex;
         flex: 1 1 150px;
         align-items: center;
         min-width: 120px;
         max-width: 300px;
         padding: 0 5px 0 5px;
         img {
           width: 36px;
         }
         .small {
           padding-left: 3px;
         }
       }
       //ADDRESS
       .three {
         display: flex;
         flex: 1 3 350px;
         align-items: center;
         min-width: 100px;
         max-width: 700px;
       }

       //TOWN
       .four {
         display: flex;
         flex: 1 3 150px;
         align-items: center;
         min-width: 75px;
         max-width: 500px;
       }

       //MILES
       .five {
         display: flex;
         flex: 2 1 100px;
         !*border: 2px solid green;*!
         align-items: center;
         min-width: 75px;
         max-width: 200px;

       }
       //hOME ICON
       .six {
         display: flex;
         flex: 0 0 36px;
         min-width: 36px;
         max-width: 36px;
         align-items: center;

       }
     }
   }

   .left {
     width: calc(100% - 7px);
     height: calc(80% - 21px);
   }

   .leftouter {
     width: 360px;
     margin-left: 16px;
     display: flex;
     flex-direction: column;
     overflow: hidden;
     z-index: 10;
   }

   .rightouter {
     width: 100%;
     margin-right: 32px;
     display: flex;
     overflow: hidden;
   }*/
}

//.mainview {
//  .flex-parent-column();
//  display: flex;
//  flex-direction: column;
//  //height: calc(100%);
//  //width:calc(100vw - 48px);
//  padding: 0 24px;
//  margin: 0 auto;
//}

//.top {
//  display: flex;
//  justify-content: space-between;
//  height: 170px;
//}
//
//.bottom {
//  .flex-child-column();
//  .flex-parent-row(@height:100%, @items:flex-start);
//  //height: calc(100%);
//
//}

//body {
//  height: calc(100vh);
//  margin: 0;
//  padding: 0;
//  //min-width: 960px;
//}

.divtest {
  background: green;
}

// Colors

.mainview, .top, .bottom, .rightouter, .leftouter, .left, .right, .leftouter, .right, .left-inner, .right-inner, .left-content, .right-content {
  background: @colorOne;
}

//Fonts

// Scroll bars

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}

::-webkit-scrollbar-thumb {
  background: #ccc;
  //border: 1px outset #282ef2;
  border-radius: 50px;
}

::-webkit-scrollbar-thumb:hover {
  background: #ccc;
}

::-webkit-scrollbar-thumb:active {
  background: #ccc;
}

::-webkit-scrollbar-track {
  background: #fff;
  //border: 0px none #ffffff;
  border-radius: 10px;
}

::-webkit-scrollbar-track:hover {
  background: #fff;
}

::-webkit-scrollbar-track:active {
  background: #fff;
}

::-webkit-scrollbar-corner {
  background: transparent;
}


