@import (less) "mixins.less";
@import (less) "variables.less";

#topnav01 {
  .flex-child-row();
  .flex-parent-row(@height:170px, @justify:space-between);
  padding: 10px;

  .logo {
    .flex-child-row(150px,400px);
    .flex-parent-row(@justify:flex-start, @items:center);
    md-button{
      padding:10px;
      .flex-child-row(100px,100px,1,1,100px);
      md-icon{

      }
    }
    img{
      max-height:90%;
    }

    //margin-left: 16px;
    //img {
    //  width: 80%;
    //  height: 80%;
    //  max-width: 320px;A
    //}
  }

  .buttons {
    .flex-parent-row(@items:center);
    //margin-top: 20px;
    //min-width: 500px;

  }

  .inputs {
    .flex-child-row(300px,600px,1,1,450px);
    .flex-parent-column(@width:100%, @justify: space-around, @items:stretch);
    padding: 10px 20px;

    //min-width: 300px;
    //margin-right: 40px;
  }

  //Buttons

  .md-button {
    background: white !important;
  }

  .md-button.test {
    background: #f6f6f6 !important;
    flex: 0 0 35%;
  }

  .md-button.md-raised.mid {
    min-height: 10px !important;
    margin: 3px 4px;
    min-width: 40px;
    padding: 0 3px;
    font-size: 12px;
    line-height: 24px;
  }
}