.right
    .right-content
        .wrapper
            .one
                md-icon.white-icon donut_small
            .two
                img(src="img/noun_122832_cc-test.svg")
                .small Photography
            .three
                .bold The DMZ School of Photography in Warren

            .four
                .reg Warren, NJ

            .five
                .small-med 5.9 miles

            .six
                md-icon.color-icon home
        md-divider
        .wrapper
            .one
                md-icon.white-icon donut_small
            .two
                img(src="img/noun_122832_cc-test.svg")
                .small Photography
            .three
                .bold The DMZ School of Photography in Warren

            .four
                .reg Warren, NJ

            .five
                .small-med  5.9 miles

            .six
                md-icon.color-icon home
        md-divider
            .wrapper
                .one
                    md-icon.white-icon donut_small
                .two
                    img(src="img/noun_122832_cc-test.svg")
                    .small Photography
                .three
                    .bold The DMZ School of Photography in Warren

                .four
                    .reg Warren, NJ

                .five
                    .small-med 5.9 miles

                .six
                    md-icon.color-icon home
            md-divider
            .wrapper
                .one
                    md-icon.white-icon donut_small
                .two
                    img(src="img/noun_122832_cc-test.svg")
                    .small Photography
                .three
                    .bold The DMZ School of Photography in Warren

                .four
                    .reg Warren, NJ

                .five
                    .small-med  5.9 miles

                .six
                    md-icon.color-icon home
            md-divider
        .wrapper
            .one
                md-icon.white-icon donut_small
            .two
                img(src="img/noun_122832_cc-test.svg")
                .small Photography
            .three
                .bold The DMZ School of Photography in Warren

            .four
                .reg Warren, NJ

            .five
                .small-med 5.9 miles

            .six
                md-icon.color-icon home
        md-divider
        .wrapper
            .one
                md-icon.white-icon donut_small
            .two
                img(src="img/noun_122832_cc-test.svg")
                .small Photography
            .three
                .bold The DMZ School of Photography in Warren

            .four
                .reg Warren, NJ

            .five
                .small-med  5.9 miles

            .six
                md-icon.color-icon home
        md-divider
    //.wrapper
    //    .one
    //        md-icon.white-icon donut_small
    //    .two
    //        img(src="img/noun_122832_cc-test.svg")
    //        .small Photography
    //    .three
    //        .bold The DMZ School of Photography in Warren
    //
    //    .four
    //        .reg Warren, NJ
    //
    //    .five
    //        .small-med  5.9 miles
    //
    //    .six
    //        md-icon.color-icon home
    ////md-icon.lvl1 perm_identity
                //md-icon.color1 home
                //.secondary-padding
                //.category {{it.category}}
                //.secondary-padding
                //.name {{it.name}}
                //.secondary-padding
                //.address {{it.address}}
                //.secondary-padding
                //.miles {{it.miles}}
                //.secondary-padding
                //md-icon.color1 home
                md-divider
    //md-list-item(ng-repeat="it in tc.text" hide-gt-xs)
    //    md-icon.lvl1 perm_identity
    //    md-icon.color1 home
    //    .secondary-padding
    //        div(layout="column")
    //            .title {{it.title}}
    //            .address {{it.address}} - {{it.miles}} miles
    //        .secondary-padding
    //        div(layout="column")
    //            md-icon.color1 home
    //            .category {{it.category}}
    //    md-divider


