#listtablet(ng-if="lc.mdMedia('(min-width: 600px)and (max-width: 959px)')")
    .wrapper
        .wrappersub1
            .one
                p one
            .two
                p two
        .three
            p three

        .four
            p four
        .wrappersub3
            .five
                p five
            .six
                p sixe