#listdesktop(ng-if="lc.mdMedia('(min-width: 960px)')")
    .listcontainter
        .row-wrapper
            .icon
                md-icon.white-icon donut_small
            .cat
                img(src="img/noun_122832_cc-test.svg")
                .small Photography
            .name
                .bold The DMZ School of Photography in Warren
            .town
                .reg Warren, NJ
            .miles
                .small-med 5.9 miles
            .home
                md-icon.color-icon home
        md-divider
        .row-wrapper
            .icon
                md-icon.white-icon donut_small
            .cat
                img(src="img/noun_122832_cc-test.svg")
                .small Photography
            .name
                .bold The DMZ School of Photography in Warren
            .town
                .reg Warren, NJ
            .miles
                .small-med 5.9 miles
            .home
                md-icon.color-icon home
        md-divider
        .row-wrapper
            .icon
                md-icon.white-icon donut_small
            .cat
                img(src="img/noun_122832_cc-test.svg")
                .small Photography
            .name
                .bold The DMZ School of Photography in Warren
            .town
                .reg Warren, NJ
            .miles
                .small-med 5.9 miles
            .home
                md-icon.color-icon home
        md-divider
        .row-wrapper
            .icon
                md-icon.white-icon donut_small
            .cat
                img(src="img/noun_122832_cc-test.svg")
                .small Photography
            .name
                .bold The DMZ School of Photography in Warren
            .town
                .reg Warren, NJ
            .miles
                .small-med 5.9 miles
            .home
                md-icon.color-icon home
        md-divider
        .row-wrapper
            .icon
                md-icon.white-icon donut_small
            .cat
                img(src="img/noun_122832_cc-test.svg")
                .small Photography
            .name
                .bold The DMZ School of Photography in Warren
            .town
                .reg Warren, NJ
            .miles
                .small-med 5.9 miles
            .home
                md-icon.color-icon home
        md-divider

