#listphone(ng-if="lc.mdMedia('(max-width: 599px)')")
    .wrapper
        .wrappersub1
            .one
                md-icon.white-icon donut_small
            .two
                img(src="img/noun_122832_cc-test.svg")
        .three
            .small Photography
        .four
            strong The DMZ School of Photography in Warren
        .wrappersub3
            .five
                .reg Warren, NJ
            .six
                .small-med 5.9 miles
                    md-icon.color-icon home
    .wrapper
        .wrappersub1
            .one
                md-icon.white-icon donut_small
            .two
                img(src="img/noun_122832_cc-test.svg")
        .three
            .small Photography
        .four
            strong The DMZ School of Photography in Warren
        .wrappersub3
            .five
                .reg Warren, NJ
            .six
                .small-med 5.9 miles
                    md-icon.color-icon home
    .wrapper
        .wrappersub1
            .one
                md-icon.white-icon donut_small
            .two
                img(src="img/noun_122832_cc-test.svg")
        .three
            .small Photography
        .four
            strong The DMZ School of Photography in Warren
        .wrappersub3
            .five
                .reg Warren, NJ
            .six
                .small-med 5.9 miles
                    md-icon.color-icon home
    .wrapper
        .wrappersub1
            .one
                md-icon.white-icon donut_small
            .two
                img(src="img/noun_122832_cc-test.svg")
        .three
            .small Photography
        .four
            strong The DMZ School of Photography in Warren
        .wrappersub3
            .five
                .reg Warren, NJ
            .six
                .small-med 5.9 miles
                    md-icon.color-icon home
