//   Created by froth on 3/6/2016.
md-content(layout="column", flex)
    md-list-item(ng-repeat="it in tc.text" )
            md-icon.lvl1 perm_identity(layout-xs="1", layout-gt-xs="50)
            md-icon.color1 home
            md-list-item.secondary-padding
            .category {{it.category}}
            md-list-item.secondary-padding
            .title {{it.title}}
            md-list-item.secondary-padding
            .address {{it.address}}
            md-list-item.secondary-padding
            .miles {{it.miles}}
            md-list-item.secondary-padding
            md-icon.color1 home
            md-divider
    p.md-body-1

