//   Created by froth on 3/6/2016.
md-content(layout="column", layout-align="center center")
        md-list-item(layout="row", layout-padding, layout-align="center center" ng-repeat="it in tc.text")
            md-icon.lvl1 perm_identity
            <img src="img\noun_122832_cc-test.svg" alt="tennis" height="130" width="60" hspace="9">
            .category {{it.category}}
            .title {{it.title}}
            .address {{it.address}}
            .miles {{it.miles}}
            md-icon.color1 home
        md-divider
    p.md-body-1

