#listtablet(ng-if="lc.mdMedia('(min-width: 600px)and (max-width: 959px)')")
    .wrapper
        .one
            md-icon.white-icon donut_small
        .two
            .a1
            img(src="img/noun_122832_cc-test.svg")
            .a2
            .small Photography
        .wrappersub1
            .three
                strong The DMZ School of Photography in Warren
            .four
                .reg Warren, NJ
        .wrappersub3
            .five
                .small-med 5.9 miles
            .six
                md-icon.color-icon home
    .wrapper
        .one
            md-icon.white-icon donut_small
        .two
            .a1
            img(src="img/noun_122832_cc-test.svg")
            .a2
            .small Photography
        .wrappersub1
            .three
                strong The DMZ School of Photography in Warren
            .four
                .reg Warren, NJ
        .wrappersub3
            .five
                .small-med 5.9 miles
            .six
                md-icon.color-icon home
    .wrapper
        .one
            md-icon.white-icon donut_small
        .two
            .a1
            img(src="img/noun_122832_cc-test.svg")
            .a2
            .small Photography
        .wrappersub1
            .three
                strong The DMZ School of Photography in Warren
            .four
                .reg Warren, NJ
        .wrappersub3
            .five
                .small-med 5.9 miles
            .six
                md-icon.color-icon home
    .wrapper
        .one
            md-icon.white-icon donut_small
        .two
            .a1
            img(src="img/noun_122832_cc-test.svg")
            .a2
            .small Photography
        .wrappersub1
            .three
                strong The DMZ School of Photography in Warren
            .four
                .reg Warren, NJ
        .wrappersub3
            .five
                .small-med 5.9 miles
            .six
                md-icon.color-icon home
