mc-content#sidenavcontents
    .left-side-nav-buttons
        md-button.md-raised(ng-click="close()") Sign In
        md-button.md-raised(ng-click="close()") Register

    md-list.left-inner
        md-list-item(ng-click="mc.close()", ui-sref="filter") Filter
        md-divider
        md-list-item(ng-click="mc.close()", ui-sref="list") List
        md-divider
        md-list-item(ng-click="mc.close()", ui-sref="map") Map
        md-divider
        md-list-item(ng-click="mc.close()", ui-sref="detail") Detail
        md-divider
        md-list-item(ng-click="mc.close()", ui-sref="home") Favorites
        md-divider
        md-list-item(ng-click="mc.close()", ui-sref="page3") Tell Us About
            | a New Activity
        md-divider
        md-list-item(ng-click="mc.close()",ui-sref="page3") Edit Your Profile
        md-divider
