md-sidenav.md-sidenav-left.md-whiteframe-17dp.left(md-component-id='left',
md-is-locked-open="$mdMedia('gt-sm')")
    .left-side-nav-buttons
        md-button.test(ng-click="close()") Sign In
        md-button.test(ng-click="close()") Register

    md-list.left-inner
        md-list-item(ng-click="mc.close()", ui-sref="filter") Filter
        md-divider
        md-list-item(ng-click="mc.close()", ui-sref="list") List
        md-divider
        md-list-item(ng-click="mc.close()", ui-sref="map") Map
        md-divider
        md-list-item(ng-click="mc.close()", ui-sref="detail") Detail
        md-divider
        md-list-item(ng-click="mc.close()", ui-sref="home") Favorites
        md-divider
        md-list-item(ng-click="mc.close()", ui-sref="page3") Tell Us About
            | a New Activity
        md-divider
        md-list-item(ng-click="mc.close()",ui-sref="page3") Edit Your Profile
        md-divider
