#topnav01
    .logo
        md-button.md-icon-button(ng-click="tc.toggleSidenav('left')",hide-gt-sm='',aria-label="Settings")
            md-icon menu

        img(src="img/stretchkids-logo.jpg" alt="logo")


    .buttons
        md-button.md-raised(ng-click="$mdOpenMenu($event)") FILTER
        md-button.md-raised(ng-click="$mdOpenMenu($event)") MAP
        md-button.md-raised(ng-click="$mdOpenMenu($event)") SORT
    .inputs
        md-input-container.md-icon-float.md-block
            label Starting Location
            md-icon home
            input(ng-model='user.city', type='text')

