<div id="topnav01"><div class="logo"><md-button ng-click="tc.toggleSidenav('left')" hide-gt-sm="" aria-label="Settings" class="md-icon-button"><md-icon aria-label="Menu" md-svg-icon="/img/Hamburger.svg"></md-icon></md-button><img src="img/stretchkids-logo.jpg" alt="logo"/></div><div class="buttons"><md-button ng-click="$mdOpenMenu($event)" class="md-raised">FILTER</md-button><md-button ng-click="$mdOpenMenu($event)" class="md-raised">MAP</md-button><md-button ng-click="$mdOpenMenu($event)" class="md-raised">SORT</md-button></div><div class="inputs"><md-input-container><label class="town">Bridgewater, NJ</label><md-icon>location</md-icon><input ng-model="user.city" type="text"/></md-input-container><!--md-input-container--><!--    label Enter search keyword--><!--    md-icon search--><!--    input(ng-model='user.search', type='text')-->






</div></div><!--    Created by froth on 3/15/2016-->
<!--#container(layout="row",--><!--        ng-controller="TopNavCtrl as tc")--><!--    div.box1(layout="row")--><!--        md-button.md-icon-button(ng-click="tc.toggleSidenav('left')", hide-gt-sm='', aria-label="Settings")--><!--            md-icon(aria-label='Menu', md-svg-icon='/img/Hamburger.svg')--><!--        img(src="img/stretchkids-logo.jpg" alt="logo" height="72" width="300")--><!----><!----><!----><!--    nav.box2(flex)--><!--        section(layout='row', layout-xs='column', hide-xs,  hide-gt-xs, show-gt-sm layout-align='center center', layout-wrap)--><!--            md-button.md-raised.mid(ng-click="$mdOpenMenu($event)") FILTER--><!--            md-button.md-raised.mid(ng-click="$mdOpenMenu($event)") MAP--><!--            md-button.md-raised.mid(ng-click="$mdOpenMenu($event)") SORT--><!----><!--    .mid(layout='row')--><!--        section(hide-gt-sm='', flex='', layout='row' layout-align='center center')--><!--            md-button(ng-click="close()") Sign In--><!--            md-button(ng-click="close()") Sort--><!--            md-button(ng-click="close()") Filter--><!----><!----><!--    aside.box3(flex)--><!--        md-input-container.md-icon-float.md-block.padding(hide-xs)--><!--            label.town Bridgewater, NJ--><!--            md-icon location--><!--            input(ng-model='user.city', type='text')--><!----><!----><!----><!--        md-input-container.md-icon-float.md-block(hide-xs)--><!--            label Enter search keyword--><!--            md-icon search--><!--            input(ng-model='user.search', type='text')--><!---->



