//    Created by froth on 3/15/2016

#container(layout="row")
    article.box1(flex)
        img(src="images/stretchkids-logo.jpg" alt="logo" height="72" width="300")
        section(layout='row', layout-xs='column', layout-align='left left', layout-wrap)
            md-button.md-raised.left(ng-click="close()") Sign In
            md-button.md-raised.left(ng-click="close()") Register
    nav.box2(flex)
        section(layout='row', layout-xs='column', layout-align='center center', layout-wrap)
            md-button.md-raised.mid(ng-click="$mdOpenMenu($event)") FILTER
            md-button.md-raised.mid(ng-click="$mdOpenMenu($event)") MAP
            md-button.md-raised.mid(ng-click="$mdOpenMenu($event)") SORT


    aside.box3(flex)
        md-input-container.md-icon-float.md-block.padding
            label Bridgewater, NJ
            md-icon location
            input(ng-model='user.city', type='text')
        md-input-container.md-icon-float.md-block
            label Enter search keyword
            md-icon search
            input(ng-model='user.search', type='text')



